html, body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: rgb(192, 163, 163);
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.hangman{
  max-width: 400px;
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 15px;
  padding: 70px 80px;
  box-shadow: 6px 6px 20px black;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header p{
  margin: 0;
  font-family: "Press Start 2P", serif;
  font-size: 22px;
  color: rgb(209, 207, 207);
}

.tagline{
  font-family: "Press Start 2P", serif;
  font-size: 9px;
  color: rgb(209, 207, 207);
}

.statusContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameStatusWin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(86, 122, 86);
  width: 230px;
  color:  rgb(255, 255, 255);
  margin-top: 40px;
  box-shadow: 3px 3px 20px rgb(0, 0, 0);
}

.gameStatusWin h3{
  font-family: "Press Start 2P", serif;
  margin: 0;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  word-spacing: -5px;
}

.gameStatusWin h3 img{
  height: 15px;
}

.gameStatusWin p{
  font-family: Inherit;
  margin: 0;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
}

.gameStatusLoose{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(196, 54, 54);
  width: 230px;
  color:  rgb(255, 255, 255);
  margin-top: 40px;
  box-shadow: 3px 3px 20px rgb(0, 0, 0);
}

.gameStatusLoose h3{
  font-family: "Press Start 2P", serif;
  margin: 0;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  word-spacing: -5px;
}

.gameStatusLoose h3 img{
  height: 15px;
}

.gameStatusLoose p{
  font-family: Inherit;
  margin: 0;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
}

.hangmanSection {
  position: relative;
  width: 150px;
  height: 100px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-top: 30px;
}

.hangmanStand{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.standTop{
  height: 5px;
  width: 50px;
  background-color:  rgb(209, 207, 207);
}

.stand{
  height: 70px;
  width: 5px;
  background-color:  rgb(209, 207, 207);
  margin-right: 45px;
}

.standBase{
  height: 5px;
  width: 30px;
  background-color:  rgb(209, 207, 207);
  margin-right: 45px;
}

.standTip{
  position: absolute;
  bottom: 80px;
  height: 13px;
  width: 3px;
  background-color: rgb(209, 207, 207);
  margin-bottom: -15px;
  margin-left: 59.5px;
}

.hangmanBody{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-13px) translateY(23px);

}

.head{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid  rgb(209, 207, 207);
  margin-left: -11px;
  margin-top: 10px;
}

.body{
  height: 30px;
  width: 2px;
  background-color:  rgb(209, 207, 207);
  margin-left: -3px;
}

.leftArm{
  height: 15px;
  width: 2px;
  background-color:  rgb(209, 207, 207);
  margin-left: -8px;
  margin-top: -30px;
  transform: rotate(45deg);
}

.rightArm{
  height: 15px;
  width: 2px;
  background-color:  rgb(209, 207, 207);
  margin-left: 2px;
  margin-top: -15px;
  transform: rotate(-45deg);
}

.leftLeg{
  height: 15px;
  width: 2px;
  background-color:  rgb(209, 207, 207);
  margin-left: -8px;
  margin-top: 11px;
  transform: rotate(45deg);
}

.rightLeg{
  height: 15px;
  width: 2px;
  background-color: rgb(209, 207, 207);
  margin-left: 2px;
  margin-top: -15px;
  transform: rotate(-45deg);
}

.guessingSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wordSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.wordSection span{
  height: 40px;
  width: 40px;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  font-family: inherit;
  margin: 0 5px;
  box-shadow: 7px 7px 10px rgb(26, 25, 25);
  border-bottom: 3px solid rgb(161, 161, 161);
  color: rgb(219, 219, 219);
}

.keyboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.keyboard button{
  height: 40px;
  width: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgb(206, 161, 65);
  font-weight: 600;
  box-shadow: 2px 2px 20px black;
  cursor: pointer;
}

.keyboard button.correct{
  background-color: rgb(78, 173, 78);
}

.keyboard button.wrong{
  background-color: rgb(228, 73, 73);
}

.keyboard button:active{
  background-color: rgb(255, 218, 137);
}

.newGameBtn{
  padding: 15px 30px;
  background-color: rgb(132, 204, 238);
  border: none;
  border-radius: 7px;
  font-family: "Press Start 2P", serif;
  word-spacing: -3px;
  box-shadow: 5px 5px 20px black;
  cursor: pointer;
}

.newGameBtn:active{
  background-color: rgb(195, 236, 255);
}